# ~/.local/share/chezmoi/playbooks/bootstrap.yml
---
- name: Install core packages
  hosts: localhost
  become: true

  roles:
    - system_locale
    - common_packages
{{- if contains "ui-qcom" .chezmoi.kernel.osrelease }}
    - role: ghq_nfs_mount
      tags: [ghq_nfs]
{{- end }}
