# ~/.dotfiles/functions/plex.zsh

# Check current streams on Plex
function plex_streams() {
  local opi='{{ .opIds.plex.uuid }}'
  local rootUrl="$(opUrl  "$opi")"
  local apiKey="$(creds "$opi" '{{ .opIds.plex.key }}')"
  local plexStreams=$(curl -sL "${rootUrl}/api/v2?apikey=${apiKey}&cmd=get_activity" | jq -r '.response.data.stream_count // 0')
  # guard against an empty / non-numeric result
  (( ${plexStreams:-0} == 1 )) && {
    echo "There is currently 1 stream on Plex."
    return
  }
  (( ${plexStreams:-0} > 1 )) && {
    echo "There are currently ${plexStreams} streams on Plex."
    return
  }
  echo "There are currently no streams on Plex."
}
